.main-heading{
    margin: 0;
}
.instructor-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.text-center{
    text-align: center;
}
.round-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px; /* Creates a round shape */
    text-decoration: none; /* Removes the underline for anchor tags */
    text-align: center;
    background-color: #007BFF; /* Choose your preferred background color */
    color: #FFFFFF; /* Choose your preferred text color */
    margin: 30px;
    
}
.round-button:hover {
    background-color: #00050a; /* Change color on hover */
}
body {
    background-color: rgb(5, 5, 5) !important; /* Set the background color to black */
    color: white !important; /* Set the text color to white or any other color that contrasts well with black */
    font-family: 'Times New Roman', Times, serif;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    margin-right: 10px; /* Adjust the margin between the logo and the heading */
}
.logo-container {
    display: flex;
    align-items: center;
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.section-text-tip{
    text-align: center;
    font-size: medium;
    color:#007BFF;

}
.numbered-tips-list {
    padding-left: 0; /* Remove default padding for the ordered list */
    list-style-position: inside; /* Position the list markers inside the list items */
    counter-reset: tip-counter; /* Reset the counter for numbered list */
}

.numbered-tips-list li {
    text-align: center; /* Align the text to the left within list items */
    margin-bottom: 10px; /* Add bottom margin to create space between list items */
    counter-increment: tip-counter; /* Increment the counter for each list item */
}
/* Add this to your CSS to style the slider */
.slider-container {
    max-width: 800px; /* Adjust the maximum width of the slider container */
    margin: 0 auto; /* Center the slider container */
    overflow: hidden; /* Hide overflowing content */
}

.slider {
    display: flex; /* Display slides in a row */
    transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.slide {
    min-width: 100%; /* Each slide takes the full width of the container */
}




.section-heading{
        text-align: center;
    }
    .section-text{
        text-align: center;
    }
    
    
    /* Fonts */
    
    @font-face {
        font-family: '1942';
        src: url('fonts/1942-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
