.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 10px;
}
.main-heading{
    margin: 0;
}
nav a {
    margin-right: 45px; /* Adjust the margin as needed to control the space between links */
}
.instructor-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.text-center{
    text-align: center !important;
    margin-top: -28px;
    margin-bottom: 20px;
    
}
.round-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px; /* Creates a round shape */
    text-decoration: none; /* Removes the underline for anchor tags */
    text-align: center;
    background-color: #007BFF; /* Choose your preferred background color */
    color: #FFFFFF; /* Choose your preferred text color */
    margin: 30px;
    
}
.round-button:hover {
    background-color: #00050a; /* Change color on hover */
}
body {
    background-color: rgb(5, 5, 5) !important; /* Set the background color to black */
    color: white !important; /* Set the text color to white or any other color that contrasts well with black */
    font-family: 'Times New Roman', Times, serif;
    
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.section-text-tip{
    text-align: center;
    font-size: medium;
    color:#007BFF;

}
.numbered-tips-list {
    padding-left: 0; /* Remove default padding for the ordered list */
    list-style-position: inside; /* Position the list markers inside the list items */
    counter-reset: tip-counter; /* Reset the counter for numbered list */
    
}

.numbered-tips-list li {
    text-align: center; /* Align the text to the left within list items */
    margin-bottom: 10px; /* Add bottom margin to create space between list items */
    counter-increment: tip-counter; /* Increment the counter for each list item */
}

.section-heading{
        text-align: center;
    }
    .section-text{
        text-align: center;
    }

    * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin:auto;
  margin-top: 20px;
  text-align: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0a0a0a;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
    
    /* Fonts */
    
    @font-face {
        font-family: '1942';
        src: url('fonts/1942-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
